*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FFD200;
}



.clock{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 60px solid #005581;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(9,25,33,.45);
    animation: brd 1s ease-in-out infinite;

                
}




@media only screen and (max-width: 500px) {
    .clock {

            width: 350px;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 90px solid #005581;
            border-radius: 50%;
            box-shadow: 10px 10px 10px rgba(9,25,33,.45);

    }
}


.clock:hover {

    transform: scale(1.02);

}


.clock:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 1000;
}

.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 250px;
    height: 250px;
}
.clock .min, .mn{
    width: 270px;
    height: 270px;
}
.clock .sec, .sc{
    width: 190px;
    height: 190px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: #dc143c;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #dc143c;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.sc::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 120px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}